<?php

use function DI\factory;

use DI\Container;
use Jose\Component\Core\JWK;
use Jose\Component\KeyManagement\JWKFactory;
use Playground\File;
use Playground\Web\FileFactory;


return [
    'use_https' => false,
    'cookie_name' => 'phppg-test',
    'sandbox_dir' => __DIR__ . '/tmp',
    'sandbox_timeout' => 3600,
    'sandbox_php_defines' => [],
    'sandbox_ini' => __DIR__ . '/php-cli.ini',
    'is_production' => false,
    'jose.issuers' => [
        'issuers' => '',
    ],
    'atlas' => [
        // @see https://www.php.net/manual/ja/pdo.connections.php
        'pdo' => ['mysql:host=localhost;dbname=phppgtest', 'phppg', 'P455w0Rd'],
    ],
    JWK::class => factory(function (): JWK {
        return JWKFactory::createOctKey(
            1024, // Size in bits of the key. We recommend at least 128 bits.
            [
                'alg' => 'HS256', // This key must only be used with the HS256 algorithm
                'use' => 'sig'    // This key is used for signature/verification operations only
            ]
        );
    }),
    FileFactory::class => factory(function (Container $c): FileFactory {
        $directory = $c->get('sandbox_dir');
        return new FileFactory(File::class, function (string $prefix) use ($directory): string {
            return tempnam($prefix, $directory);
        });
    }),
];